
.dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100hv;
}

.dashboard h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

.dashboard-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .dashboard h1 {
    font-size: 28px;
    text-align: center;
  }

  .dashboard-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
